@import "variables.scss";

.catalog__wrap {
  margin: 15px 0 0;
}

.catalog__head {
  margin: 0 20px 29px; ;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.catalog__item {
  margin: 0 0 24px;
  padding: 0 20px 0;
  border-top: 1px solid #ededed;
}

.catalog__item--add {
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed;
}

.catalog__container {
  display: flex;
  align-items: flex-start;
}

.catalog__container--add {
  flex-direction: column;
}

.catalog__pic {
  width: 50%;
}

.catalog__pic--add {
  width: 100%;
  margin: 24px 0 0 124px;
}

.catalog__text {
  width: 50%;
  margin-top: 22px;
}

.catalog__text--add {
  width: 100%;
  margin: 20px 0 21px;
  text-align: center;
}

.catalog__title {
  padding-right: 66px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog__title--add {
  padding: 0;
}

.catalog__list {
  margin-top: 12px;
}

.catalog__row {
  display: flex;
  justify-content: space-between;
}

.catalog__paragraph {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
}

.catalog__paragraph--add {
  padding-top: 8px;
}

.catalog__frame {
  display: flex;
}

.catalog__img--add {
  width: 30px;
  height: 30px;
}

.catalog__btn {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.catalog__btn--add {
  color: #000000;
  background-color: #f2f2f2;
}
