@import "variables.scss";

.categorys__wrap {
  @media (min-width: $desktop-width) {
    padding: 80px 70px 43px;
    display: flex;
    flex-wrap: wrap;
  }
}

.categorys__item {
  position: relative;
  margin: 20px 20px 0;
  padding: 31px 20px 0;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    margin: 0 30px 28px;
    padding: 75px 0 0 53px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0 40px 28px;
    padding: 75px 0 0 53px;
  }
}

.categorys__img {
  position: absolute;
  z-index: 2;
}

.categorys__img--slim {
  top: 24px;
  left: 31px;
  width: 35px;
  height: 49px;

  @media (min-width: $tablet-width) {
    top: 81px;
    left: 475px;
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    left: 66px;
    width: 70px;
    height: 97px;
  }
}

.categorys__img--pro {
  top: 36px;
  left: 12px;
  width: 67px;
  height: 28px;

  @media (min-width: $tablet-width) {
    top: 134px;
    left: 411px;
    width: 268px;
    height: 112px;
  }

  @media (min-width: $desktop-width) {
    top: 68px;
    left: 34px;
    width: 134px;
    height: 56px;
  }
}

.categorys__head {
  position: relative;
  padding: 0 22px 0 71px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;


  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 2px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 37px;
    font-weight: normal;

    &::before {
      top: 16px;
      left: 392px;
      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 161px;

    &::before {
      top: -29px;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }
}

.categorys__paragraph {
  margin: 0;
  padding: 30px 0 21px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #444444;
  border-bottom: 2px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 26px 274px 0 0;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 40px 0 0;
  }
}

.categorys__paragraph--pro {
  @media (min-width: $tablet-width) {
    padding-right: 314px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 30px;
  }
}

.categorys__link {
  position: relative;
  width: 170px;
  margin: 19px 0 0;
  padding-bottom: 21px;
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    width: 24px;
    height: 11px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
  }

  &:hover::after {
    width: 33px;
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
  }

  &:focus::after {
    width: 33px;
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin: 56px 0 0;
    padding: 0 0 64px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 31px 0 0;
  }
}

.categorys__link--slim {
  &::after {
    left: 97px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: 129px;
    }
  }
}

.categorys__link--pro {
  &::after {
    left: 93px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: 124px;
    }
  }
}

.categorys__svg {
  width: 24px;
  height: 12px;
  margin-left: 7px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -3px;
    margin-left: 17px;
  }
}
