@import "variables.scss";

.goods__wrap {
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 86px;
  }
}

.goods__head {
  position: relative;
  margin: 28px 0 34px 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 0;
    width: 53px;
    height: 3px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    margin: 67px 0 80px 67px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: -68px;
      width: 28px;
      height: 3px;
      background-color: #68b738;
    }

    &::after {
      top: 22px;
      width: 326px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 75px 0 80px 109px;

    &::before {
      width: 70px;
      left: -110px;
    }

    &::after {
      width: 958px;
    }
  }
}

.goods__cover {
  @media (min-width: $desktop-width) {
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
  }
}

.goods__list {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px;
  }
}

.goods__item {
  border-top: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding: 12px 0 11px;
  }

  @media (min-width: $desktop-width) {
    padding: 4px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.goods__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.goods__title {
  margin-top: 13px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-right: 30px;
    padding-left: 37px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 245px;
    margin-right: 40px;
    padding: 0;
  }
}

.goods__text {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-left: 30px;
    padding-right: 35px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    padding: 0;
    margin-left: 40px;
    justify-content: space-between;
  }
}

.goods__paragraph {
  margin: 14px 0;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arials", sans-serif;

  @media (min-width: $tablet-width) {
    margin: 17px 0 11px;
    font-size: 16px;
    line-height: 20px;
  }
}

.goods__paragraph--coast {
  @media (min-width: $tablet-width) {
    margin-left: 53px;
  }

  @media (min-width: $desktop-width) {
    margin: 17px 0 14px;
  }
}

.goods__paragraph--water {
  @media (min-width: $tablet-width) {
    margin-left: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 8px;
  }
}

.goods__btn {
  width: 100%;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 632px;
    height: 40px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-left: 40px;
  }
}

.goods__gift {
  width: 280px;
  height: 289px;
  margin: 40px 20px 0;
  background: url("../img/gift-photo-mobile@1x.jpg");

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 200px;
    margin: 69px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: url("../img/gift-photo-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
    margin: 0 40px;
    flex-direction: column;
    justify-content: flex-start;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat;
  }
}

.goods__pic {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.googs__svg {
  width: 55px;
  height: 60px;
  margin: 64px 0 57px 113px;
  fill: #ffffff;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 64px 0 0 94px;
  }
}

.goods__word {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.goods__paragraph--gift {
  margin: 0 55px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin: 72px 92px 0 69px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 58px 37px 0 35px;
    text-align: center;
  }
}
