@import "variables.scss";

.header {
  @media (min-width: $desktop-width) {
    position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(100, 168, 59, 0) 50%, rgba(100, 168, 59, 0) 100%);
    z-index: 2;
  }
}

.header__list {
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding-top: 21px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px;
    padding-top: 51px;
  }
}

.header__item {
  height: 66px;
  padding: 22px 0;
  text-align: center;
  border-bottom: 2px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    margin-right: 35px;
    border: none;
  }
}

.header__item:last-child {
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.header__item--close {
  display: none;
}

.header__item--logo {
  padding: 22px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    flex-grow: 2;
  }
}

.header__link {
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald medium", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 25px;
    font-family: "Oswald", "Arial", sans-serif;
    color: #222222;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 25px;
    color: #111111;
  }
}

.header__link--logo {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.header__link--active {
  @media (min-width: $tablet-width) {
    padding-bottom: 6px;
    border-bottom: 2px solid #68b738;
  }
}

.header__link--white {
  @media (min-width: $desktop-width) {
    color: #ffffff;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.3;
    }
  }
}

.header__item--white .header__link--active {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #ffffff;
    opacity: 1;
  }
}

.header__link:not(.header__link--active) {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.header__item--mobile {
  display: none;
}

.header__img {
  width: 190px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 173px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.header__btn {
  font-size: 0;
  margin-left: 65px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__btn--open {
  width: 24px;
  height: 18px;
  background: url("../img/icon-mobile-menu.svg") no-repeat;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}


.header__btn--close {
  width: 20px;
  height: 20px;
  background: url("../img/icon-close.svg") no-repeat;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
