@import "variables.scss";

.info {
  background-color: #f2f2f2;
}

.info__list {
  padding: 9px 20px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 58px 30px 57px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 110px 55px;
  }
}

.info__item {
  margin: 30px 0 0;
  padding-bottom: 26px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 32%;
    margin: 0;
    padding: 0;
    text-align: justify;
    border: none;
  }
}

.info__item--academy {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border: none;

  @media (min-width: $tablet-width) {
    width: 32%;
    margin: -3px 0 0;
    padding-left: 63px;
    justify-content: flex-end;
  }
}

.info__img {
  width: 128px;
  height: 24px;
}

.info__link--academy {
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.info__span {
  margin: 0;
  padding: 30px 0 0;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
    padding: 0;
    align-self: center;
  }
}

.info__svg--academy {
  fill: #666666;
}

.info__link--logo:hover {
  opacity: 0.8;
}

.info__link--logo:focus {
  opacity: 0.6;
}

.info__link--academy:hover .info__svg--academy {
  fill: #68b738;
}

.info__link--academy:focus .info__svg--academy {
  fill: rgba(104, 183, 56, 0.3);
}
