@import "variables.scss";

.map__wrap {
  height: 360px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat;
  background-position: 0 -40px;

  @media (min-width: $tablet-width) {
    height: 396px;
    background: url("../img/bg-map-tablet@1x.png") no-repeat;
    background-position: 0 -4px;
  }

  @media (min-width: $desktop-width) {
    height: 404px;
    margin-top: -301px;
    background: url("../img/bg-map-desktop@1x.png") no-repeat;
    background-position: 0 5px;
  }
}

.map__img {
  position: relative;
  top: 38%;
  left: 42%;
  width: 55px;
  height: 53px;

  @media (min-width: $tablet-width) {
    top: 37%;
    left: 42%;
    width: 125px;
    height: 106px;
  }

  @media (min-width: $desktop-width) {
    top: 38%;
    left: 69%;
  }
}
