@import "variables.scss";

.promo {
  @media (min-width: $desktop-width) {
    margin-top: -117px;
    padding-bottom: 271px;
    background: url("../img/index-background-desktop@1x.jpg") no-repeat, linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(99, 167, 58, 1) 50%);
    background-position: 113% 0, center;
  }

  @media (min-width: $desktop-width) and (min-resolution: $retina-dpi), (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
    background: url("../img/index-background-desktop@2x.jpg") no-repeat, linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(99, 167, 58, 1) 50%);
    background-size: 55%, 100%;
    background-position: 113% 0, center;
  }
}

.promo__wrap {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/index-background-mobile@2x.jpg") no-repeat;
    background-size: 100%;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    background: none;
  }

  /*@media (min-width: $desktop-width) {
    padding-bottom: 273px;
    background: url("../img/index-background-desktop@1x.jpg") no-repeat;
    background-position: 650px 0;
  }

  @media (min-width: $desktop-width) and (min-resolution: $retina-dpi), (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
    background: url("../img/index-background-desktop@2x.jpg") no-repeat;
    background-size: 55%;
    background-position: 650px 0;
  }*/
}

.promo__text {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding: 53px 206px 0 87px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px;
    padding: 222px 600px 0 81px;
  }
}

.promo__head {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;


  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    text-align: left;
    color: #000000;
  }
}

.promo__paragraph {
  padding: 12px 0 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 21px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
  }
}

.promo__pic {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.promo__img {
  position: relative;
  top: 14px;
  left: 21px;
  width: 280px;
  height: 271px;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 27px;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 141px;
    left: 489px;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 282px;
  margin-top: 12px;
  padding-top: 11px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 270px;
    left: 118px;
    width: 246px;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    top: 444px;
    left: 119px;
  }
}
