@import "variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  color: #283645;
  overflow-x: hidden;
}

h2,
h3 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.wrap {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 767px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
